$colors: (
  primary: #fffde7,
  primary-light: #cccab5,
  primary-text-color: #fff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  align-items: center;
  background-color: #fffde7;
}

.header-box {
  border: 25px;
  width: 60rem;
  margin: 3rem;
  border-radius: 2rem;
  font-size: 1rem;
  color: #cccab5;
}

.header-box-primary {
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-decoration: underline;
}

.header-box-list ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  background-color: #cccab5;
}

.header-box-list li {
  display: inline-block;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.box-1 {
  background-color: #cccab5;
  color: #fff;
  height: 30rem;
  width: 70rem;
  margin: 3rem;
  border-radius: 2rem;
  border: 5px black dotted;
}

.box-1-heading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 700;
  text-decoration: underline;
}

.box-1-image {
  height: 15rem;
  width: 15rem;
  border-radius: 15rem;
}

.box-2 {
  background-color: #cccab5;
  color: #fff;
  height: 30rem;
  width: 70rem;
  margin: 3rem;
  border-radius: 2rem;
  border: 5px black dotted;
}

.box-2-heading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-decoration: underline;
}

.box-2-image {
  height: 15rem;
  width: 15rem;
  border-radius: 15rem;
}

.box-3 {
  background-color: #cccab5;
  color: #fff;
  height: 30rem;
  width: 70rem;
  margin: 3rem;
  border-radius: 2rem;
  border: 5px black dotted;
}

.box-3-heading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-decoration: underline;
}

.box-3-image {
  height: 15rem;
  width: 15rem;
  border-radius: 15rem;
}
